absl-py==0.4.1
astor==0.7.1
certifi==2018.8.24
click==6.7
Flask==1.0.2
gast==0.2.0
grpcio==1.14.2
gunicorn==19.9.0

itsdangerous==0.24
Jinja2==2.10
pandas_datareader

pandas==0.23.4
protobuf==3.6.1
python-dateutil==2.7.3
pytz==2018.5
PyYAML==3.13
datetime
xlsxwriter
Werkzeug==0.14.1
wincertstore==0.2
