<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/test.css">
        <title>
            Speculatio-Demo
        </title>
    </head>
    <body>
        <h3>
            Exponential Moving Average Strategy
        </h3>
        <p>
            Enter stock symbol as mentioned on Yahoo Finance website For Example-'HCLTECH.NS','RELIANCE.NS'.<br>
            Click on submit button to download the report.<br>
            <form action="/hello" method="post">
                Stock Symbol: <input type="text" name="first_name">  <br />
                
                <input type="submit" name= "form" value="Submit" />
            </form>
        </p>
    </body>
</html>
